body {
  font-family: "Lucida Grande";
  font-size: 12px;
  background-color: #333;
  height: 100%;
  width: 99%;
}

a { color: #900; }
a:hover { text-decoration: none; }
a:visited { color: #C00; }

h2 {
  margin: 0 0 1em 0;
}

div.fieldWithErrors { display: inline; }

#navigation a {
  color: #444;
}

#wrapper {
  width: 99%;
  min-height: 90%;
  margin: 15px auto 0;
  border-width: 0px 3px 3px 0;
  border-style: solid;
  border-color: #111;
  background-color: #FFF;
}
#wrapper-inner {
  padding: 15px;
}

#logo a {
  background: url(/images/logo.gif) no-repeat;
  text-indent: -9999em;
  width: 155px;
  height: 33px;
  margin: 0 0 10px 10px;
  display: block;
}

/** Homepage **/
.notice { margin: 15px 0; border: 1px solid #eee; background-color: #FFFCCC; padding: 5px; }
.form-item { margin-bottom: 10px; }

label { font-weight: bold; margin-right: 4px; }

#new-help {
  margin: 20px 0;
  padding: 15px 0;
  border-top: 1px dashed #DDD;
  color: #555;
  font-size: 11px;
  font-style: italic;
}

#new-help p { margin-top: 0; }

/** Rooms Index **/
#rooms .room {
  border-bottom: 1px solid #EEE;
  padding: 4px;
  margin: 0 0 8px 0;
}
#rooms h3 {
  margin: 0 0 2px 0;
}

/** Enter **/
#enter {
  width: 100%;
}
#enter #description {
  padding: 0 25px;
  color: #999;
  font-style: italic;
  margin-bottom: 25px;
}


/** Chat Room **/
#room-header {
  padding: 0 4px 8px 6px;
}
#room-header h2 {
  margin-bottom: 2px;
}
#room-header .description {
  font-style: italic;
  color: #666;
}

#room-main {
  float: left;
  width: 70%;
}

#chatbox {
  border: 1px solid #EEE;
  background-color: #FFFEEE;
  padding: 4px;
  margin: 10px 0;
}
#chatbox input[type=text] {
  width: 95%;
}
#messages {
  overflow: auto;
  border: 1px solid #DDD;
}
#messages .message {
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #FFF;
  background-color: #F9F9F9;
}
#messages .highlight div {
  background-color: #FFFEEE;
}
#messages .message div {
  padding: 8px;
}
#messages .author {
  color: #222;
  float: left;
  width: 100px;
}
#messages .body {
  font-size: 14px;
  font-family: "Lucida Grande";
  color: #444;
  margin: 0 103px 0 108px;
}
#messages .date {
  width: 95px;
  float: right;
  color: #999;
  font-size: 11px;
}

/** Sidebar **/
#room-sidebar {
  float: right;
  width: 240px;
  margin-left: 15px;
  border: 1px solid #CCC;
  background-color: #F6F6F6;
}
#room-sidebar-inner {
  padding: 5px 15px;
}

#footer {
  font-size: 11px;
  color: #AAA;
  margin: 2px;
  text-align: center;
  line-height: 1.7em;
}

#footer a,
#footer a:link,
#footer a:visited {
  color: #FFFDDD;
}

/** ClearFix **/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}